# Python virtual environments
.venv/
venv/
ENV/
env/

# Python bytecode & cache
__pycache__/
*.py[cod]
*.class

# Data outputs & logs
*.pkl
*.log

# IDE settings
.vscode/
.idea/

# OS metadata
.DS_Store
Thumbs.db
